<% content_for(:title, "ゴリラのガチャガチャ | #{@results.size}回の結果") %>
<div style="min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;">
  <br>
  <h1 style="font-size: 50px;">ガチャの結果</h1>
  <br>
<ol style="list-style: none; padding: 0;">
  <% @results.each_with_index do |res, index| %>
    <li style="margin-bottom: 20px; padding-bottom: 10px; border-bottom: 2px solid #ddd;">
      <% if @results.size == 10 %>
      <strong style="font-size: 40px;"><%= index + 1 %>回目</strong><br>
      <% end %>
      <p style="font-size: 25px;">
        <% if ["金", "銀", "銅", "？？？"].include?(res["result"]) %>
          <span class="sparkle-text"><%= res["result"] %>のゴリラを引きました！</span>
        <% else %>
          <%= res["result"] %>のゴリラを引きました！
        <% end %>
      </p>
      <%= image_tag "#{res["result"]}.png", size: "400x400", alt: "ゴリラ画像" %>
    </li>
  <% end %>
</ol>

<% if @results.size == 10 %>
  <h2>10回の結果🦍</h2>
  <br>
  <div style="border: 2px solid #ddd; padding: 20px; border-radius: 10px;">
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <% @results.each_with_index do |res, index| %>
      <% if index < 5 %>
        <div style="width: 18%; padding: 10px;">
          <%= image_tag "#{res["result"]}.png", size: "100x100", alt: "ゴリラ画像" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <% @results.each_with_index do |res, index| %>
      <% if index >= 5 && index < 10 %>
        <div style="width: 18%; padding: 10px;">
          <%= image_tag "#{res["result"]}.png", size: "100x100", alt: "ゴリラ画像" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
  <div style="margin-top: 20px; margin-bottom: 5px; display: flex; justify-content: center; width: 100%;">
    <%= link_to "結果をシェアする", 
            "https://twitter.com/intent/tweet?url=#{root_url}&text=あなたは#{rare_gorilla(@results)}のゴリラを引きました！&hashtags=ゴリラのガチャガチャ",
            target: "_blank", class: "btn btn-info" %>
  </div>
  <div style="margin-top: 20px; margin-bottom: 20px; display: flex; justify-content: center; width: 100%;">
    <%= link_to "戻る", root_path, class: "btn btn-dark" %>
  </div>